body {
    background-color:#c7c7c7;
    margin: 0 auto;

}
#container {
  margin-left: auto;
  margin-right: auto;

}

/*/////////////////////////////     CSS SMARTPHONE     ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 320px) {

body {
    background-image: url("img/git_smart_back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#title {
                height: 15%;
                margin-left: 35%;
                margin-top: 12%;
                color: rgb(41, 41, 41);
                font-size: 1.5em;
                font-weight: bold;
                font-family: sans-serif;
}

nav {
                margin-top: 2.5%;
                display: inline-block;
                }

.home {
                color: rgb(0, 0, 0);
                font-size: 0.7em;
                font-weight: bold;
                font-family: sans-serif;
                margin-left: 18%;
                margin-top: 12%;
                background-color: rgb(0, 0, 0);
                width: 85%;
                padding: 3%;
                display: inline-block;
                float: left;

}

a {
                text-decoration: none;
                color: white;
                padding: 4%;
}

#titre1 {
                font-size: 1.3em;
                font-weight: normal;
                margin-left:36%;
                margin-top: -5%;
}
aside {
    float: left;
    margin-left: -15%;
    margin-top: -10%;
    display: inline-block;
}
article {
    margin-left: 1%;
    display: inline-block;
    width: 71%;
    margin-top: 4%;
}
article p {
    font-size: 0.9em;
    font-weight: normal;
}
.second {
    padding-top: 16%;
}
.third {
    padding-top: 15%;
}
span{
  color: rgb(86, 5, 130);
  font-weight: bold;
  font-size: 1em;
}

#command {
        margin-top: -7%;
        background-color: black;
        width: 100%;
}

}

/*/////////////////////////////     CSS TABLETTE    ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 599px) {

    section {
        display: none;

    }
    aside {
        display: none;
    }

            #accueil {
              margin-top: 70px;
              color: white;
              font-size: 1.6em;
              font-weight: bold;
              font-family: sans-serif;
            }
            #processtitre {
              font-size: 3em;
              color: black;
              margin-left: 150px;
              margin-top: 60px;
              font-family: sans-serif;

            }
            #title {
              height: 100px;
              margin-left: 250px;
              margin-top: 180px;
              display: inline-block;
              color: rgb(41, 41, 41);
              font-size: 4.5em;
              font-weight: bold;
              font-family: sans-serif;
            }

            .columns {
                width: 1000px;
                margin-left: 120px;
                margin-top: 210px;
            	  -webkit-columns: 6;
            		-moz-columns: 6;
            		columns: 6;
                -webkit-column-gap: 3em;
                -moz-column-gap: 3em;
                column-gap: 3em;
                /*-webkit-column-rule: 0.2em dotted #777;
                -moz-column-rule: 0.2em dotted #777;
                column-rule: 0.2em dotted #777;*/
                position: absolute;z-index: 2;

            }

            p {
            			color: white;
            			padding: 30px;
            			margin: 0;
                  display: inline-block;
                  width: 100%;
                  line-height: 1.5;
            }
            #command {
              margin-top: 30px;
              margin-left: 110px;

            }

            #commandtitre {
              font-size: 3em;
              color: white;
              margin-left: 150px;
              margin-top: 430px;
              font-family: sans-serif;

            }
            li {
              line-height: 2;
              font-size: 1.2em;
              color: white;
              font-family: sans-serif;
              list-style: none;

            }
            span{
              color: rgb(255, 197, 143);
              font-weight: bold;
              font-size: 1em;
            }


}


/*/////////////////////////////     CSS DESKTOP     ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/

    @media all and (min-width: 900px) {

section {
    display: none;

}
aside {
    display: none;
}

        #accueil {
          margin-top: 70px;
          color: white;
          font-size: 1.6em;
          font-weight: bold;
          font-family: sans-serif;
        }
        #processtitre {
          font-size: 3em;
          color: black;
          margin-left: 150px;
          margin-top: 60px;
          font-family: sans-serif;

        }
        #title {
          height: 100px;
          margin-left: 250px;
          margin-top: 180px;
          display: inline-block;
          color: rgb(41, 41, 41);
          font-size: 4.5em;
          font-weight: bold;
          font-family: sans-serif;
        }

        .columns {
            width: 1000px;
            margin-left: 120px;
            margin-top: 210px;
        	  -webkit-columns: 6;
        		-moz-columns: 6;
        		columns: 6;
            -webkit-column-gap: 3em;
            -moz-column-gap: 3em;
            column-gap: 3em;
            /*-webkit-column-rule: 0.2em dotted #777;
            -moz-column-rule: 0.2em dotted #777;
            column-rule: 0.2em dotted #777;*/
            position: absolute;z-index: 2;

        }

        p {
        			color: white;
        			padding: 30px;
        			margin: 0;
              display: inline-block;
              width: 100%;
              line-height: 1.5;
        }
        #command {
          margin-top: 30px;
          margin-left: 110px;

        }

        #commandtitre {
          font-size: 3em;
          color: white;
          margin-left: 150px;
          margin-top: 430px;
          font-family: sans-serif;

        }
        li {
          line-height: 2;
          font-size: 1.2em;
          color: white;
          font-family: sans-serif;
          list-style: none;

        }
        span{
          color: rgb(255, 197, 143);
          font-weight: bold;
          font-size: 1em;
        }

    }
