body {
    background-color:#c7c7c7;
    margin: 0 auto;

}
#container {
  margin-left: auto;
  margin-right: auto;

}

/*/////////////////////////////     CSS SMARTPHONE     ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 320px) {  /*--------ici media css pr ecran)*/
body {
    background-image: url("img/git_smart_back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#title {
                height: 15%;
                margin-left: 35%;
                margin-top: 12%;
                color: rgb(41, 41, 41);
                font-size: 1.5em;
                font-weight: bold;
                font-family: sans-serif;
}

nav {
                margin-top: 2.5%;
                display: inline-block;
                }

.home {
                color: rgb(0, 0, 0);
                font-size: 0.7em;
                font-weight: bold;
                font-family: sans-serif;
                margin-left: 18%;
                margin-top: 12%;
                background-color: rgb(0, 0, 0);
                width: 85%;
                padding: 3%;
                display: inline-block;
                float: left;

}

a {
                text-decoration: none;
                color: white;
                padding: 4%;
}

#titre1 {
        font-size: 1em;
        font-weight: normal;


}

ul {
    display: block;

    margin-left: -40%;
}

li {
    margin-left: -40%;
    margin-top: 0 auto;

}
li img {
    margin-right: 2%;
}

li p {
    font-size: 0.7em;
    margin-left: 30%;

}

.first {

    margin-top: -10%;
}
/*#list {

                border: 2px solid white;
                padding-bottom: 5%;
                padding-top: 1%;
                padding-left: 3%;
                margin: 0 auto;
                width: 90%;
                height: 70%;
                font-size: 1em;
                font-weight: bold;
                font-family: sans-serif;
                color: white;

}

#list li {
                display: inline-block;
                padding-right: 2%;
                padding-left: 0%;

}

li img {
        display: inline-block;

}
*/

.black {
                font-size: 0.8em;
                font-weight: bold;
                font-family: sans-serif;
                color: black;
}

 section {
                margin-top: -5%;
                margin-bottom: 2%;
                color: black;
                font-size: 1em;
                font-weight: bold;
                font-family: sans-serif;
                margin-left: 35%;
}
}

/*/////////////////////////////     CSS TABLETTE      ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 599px) {

}


/*/////////////////////////////     CSS DESKTOP    ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 900px) {



}
