body {
  background-image: url("img/git-back.jpg");
  background-repeat: no-repeat;
  background-color: black;
  margin: auto;
  width: auto;
  position: absolute;z-index: 1


}
#container {
  margin-left: 150px;
}

#accueil {
  margin-top: 50px;
  color: white;
  font-size: 1.6em;
  font-weight: bold;
  font-family: sans-serif;
}

/*#process {
  margin-top: 10px;
  height:606px;
  width: 1280px;
  float: left;
  position: absolute; z-index: 1;
  overflow: hidden;

}*/
#processtitre {
  font-size: 3em;
  color: black;
  margin-left: 150px;
  margin-top: 60px;
  font-family: sans-serif;

}

/*.process1 {
  font-size: 1em;
  font-weight: bold;
  line-height: 2;
  color: white;
  font-family: sans-serif;
  margin-left: 150px;
  margin-top: 300px;
  display: inline-block;
}
.process2 {
  font-size: 1em;
  font-weight: bold;
  line-height: 2;
  color: white;
  font-family: sans-serif;
  margin-left: 180px;
  margin-top: 0px;
  display: inline-block;
}*/

#title {
  height: 100px;
  margin-left: 250px;
  margin-top: 180px;
  display: inline-block;
  color: rgb(41, 41, 41);
  font-size: 4.5em;
  font-weight: bold;
  font-family: sans-serif;
}

.columns {
    width: 1000px;
    margin-left: 120px;
    margin-top: 210px;
	  -webkit-columns: 6;
		-moz-columns: 6;
		columns: 6;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    /*-webkit-column-rule: 0.2em dotted #777;
    -moz-column-rule: 0.2em dotted #777;
    column-rule: 0.2em dotted #777;*/
    position: absolute;z-index: 2;

}

p {
			color: white;
			padding: 30px;
			margin: 0;
      display: inline-block;
      width: 100%;
      line-height: 1.5;
}
#command {
  margin-top: 30px;
  margin-left: 110px;

}

#commandtitre {
  font-size: 3em;
  color: white;
  margin-left: 150px;
  margin-top: 430px;
  font-family: sans-serif;

}
li {
  line-height: 2;
  font-size: 1.2em;
  color: white;
  font-family: sans-serif;
  list-style: none;

}
span{
  color: rgb(255, 197, 143);
  font-weight: bold;
  font-size: 1em;
}
